<!-- src/views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Spotify App</title>
</head>
<body>
  <h1>Welcome to Spotify App</h1>
  <a href="/auth/spotify">Login with Spotify</a>
</body>
</html>
