<!-- src/views/profile.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
</head>
<body>
  <h1>Your Profile</h1>
  <p><%= user.displayName %></p>
  <a href="/logout">Logout</a>
</body>
</html>
